@import 'mediawiki.mixins';
@import 'mediawiki.ui/variables';

.eg-machine-translation-banner {
	box-sizing: border-box;
	font-size: 1.1em;
	padding: 8px;
	background-color: @colorGray15;
	border-top: solid 1px @colorGray14;
	border-bottom: solid 1px @colorGray14;
	overflow: hidden;
	position: absolute;
	width: 100%;
	bottom: 0;

	.mw-ui-icon {
		vertical-align: middle;

		&.mw-ui-icon-element:before {
			background-size: 20px;
			background-position: center;
			min-width: 3em;
		}
	}

	> .eg-machine-translation-banner-header-container {
		cursor: pointer;
		float: left;
		margin-left: -2em;
		.eg-machine-translation-banner-header-label {
			color: @colorGray5;
			vertical-align: middle;
			font-size: 18px;
		}
	}

	> .eg-machine-translation-banner-action-container {
		cursor: pointer;
		float: right;
		text-decoration: none;
		color: @colorProgressive;
		&:hover {
			color: @colorProgressiveActive;
		}
		.eg-machine-translation-banner-action-label {
			vertical-align: middle;
			font-size: 16px;

			@media only screen and ( max-width: 500px ) {
				// In small screens, like mobile phones, hide the label for edit action
				display: none;
			}
		}
	}

}

.eg-machine-translation-page-status {
	font-size: 0.85em;
	color: @colorGray5;
	min-height: 1.4em;

	&.missing {
		color: @colorDestructive;
	}
}

// Hide the top actions bar and edit icons in section headers.
// Usage of important is intentional to prevent any override
// since these actions are broken in external context.
/* stylelint-disable declaration-no-important */
.heading-holder .hlist,
.content .in-block span.mw-editsection,
.content .mw-parser-output span.mw-editsection {
	display: none !important;
}
