@import 'mediawiki.mixins';
@import 'mediawiki.ui/variables';

.eg-sp {
	.eg-sp-contribute-primary-action + p,
	.eg-sp-contribute-secondary-action + p {
		color: @colorGray5;
	}

	ul {
		list-style-type: none;
		div {
			padding: 0 2.5em;
		}
	}

	.eg-sp-ways-to-contribute {
		padding: 16px 0;
	}
}
