@import 'mediawiki.skin.variables.less';

.eg-createpage-overlay {
	background-color: @background-color-base;
	border: 1px solid @border-color-base;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 @box-shadow-color-alpha-base, 0 0 16px 0 @box-shadow-color-alpha-base;
	max-width: 32rem;
	max-height: calc( 100vh - 2.5rem );

	.eg-create-page-title {
		margin: 1em 0;
		width: 80%;
	}

	.eg-create-page-button {
		width: auto;
		margin: 1em 0;
	}

	.eg-create-page-desc {
		color: @color-subtle;
	}

	.eg-create-page-error {
		color: @color-destructive;
	}

	.eg-create-page-method-selection {
		.cdx-label__label__text {
			display: inline-flex;
			flex-flow: column;
		}
	}

	.eg-create-page-error + .eg-create-page-method-selection {
		display: none;
	}
}

.eg-createpage-overlay:open::backdrop {
	background-color: @background-color-backdrop-light;
}
