@import 'mediawiki.mixins';
@import 'mediawiki.ui/variables';

.eg-sp {
	.eg-sp-contribute-create + p,
	.eg-sp-contribute-expand + p,
	.eg-sp-contribute-to-original + p {
		color: @colorGray5;
	}

	ul {
		list-style: none;

		div {
			padding: 0 2.5em;
		}
	}

	.eg-sp-ways-to-contribute {
		padding: 32px 0 24px;
	}
}
